.movie_content {
    width: 100;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(15, 0, 69);
  }
  
  .movie_box {
    position: relative;
    width: 350px;
    height: 630px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 10px 10px;
    color: white;
  }
  
  .movie_image {
    width: 100%;
  }
  
  .movie_text {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0 10px;
    width: 100;
  }
  
  .title {
    font-size: 16px;
  }
  
  .star {
    font-size: 16px;
  }
  
  .explain_box {
    width: 350px;
    height: 630px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 10px 10px;
    color: white;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .explain_box:hover {
    display: block;
    opacity: 100;
  }
  
  .explain_title {
    margin: 40px 0 40px 20px;
    font-size: 18px;
  }
  
  .explain {
    width: 310px;
    font-size: 16px;
  }
  
  .explain_position {
    width: 350px;
    display: flex;
    justify-content: center;
  }
  